server:
  port: 8001

spring:
  config:
    import: optional:configserver:http://localhost:8888
  application:
    name: software
  datasource:
    url: jdbc:postgresql://localhost:5433/software_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
